@charset "utf-8";
/* base */
:root {
	--colorBase: #ffffff;
	--backgroundColorBase: #222222;
	--backgroundColorFooter: #bfc2b2;
	--colorLink: rgb(70, 145, 89);
	--colorVisited: #a577f0;
	--colorHover: #324556;
	--colorActive: #7777ff;
}
body {
	background-color: #98fb98;
}
h1{
	color: var(--colorBase);
	background-color: var(--backgroundColorBase);
	font-size: 32px;
}
h3{
	padding-left: 10px;
	color: #ffffff;
	background-color: var(--backgroundColorBase);
	font-size: 20px;
}
h4 {
	color: var(--colorBase);
	background-color: #555555;
	font-size: 18px;
	width: 50%;
}
img {
	width: 100%;
}
a{
	text-decoration: none;
	color: var(--colorBase);
}
a:link {
	color: var(--colorLink);
}
a:visited {
	color: var(--colorVisited);
}
a:hover {
	color: var(--colorHover);
}
a:active {
	color: var(--colorActive);
}
iframe {
	width: 100%;
}
footer {
	color: var(--colorBase);
	background-color: var(--backgroundColorFooter);
	font-weight: bold;
}
/* global */
.container {
	margin: auto;
	max-width: 760px;
	width: 96%;
}
.button {
	height: 100px;
	width: 350px;
	border: solid 10px #a09494;
	border-radius: 10px;
	background-color: rgb(126, 241, 161);
	font-size: 54px;
	font-weight: bold;
	color: #fdffe7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button:hover {
	background-color: rgb(221, 191, 241);
}
.homebuttom {
	margin: 5px;
	position: fixed;
	top: 0;
	right: 0;
	/*bottom: 95%;*/
}
.homebuttom img {
	width: 50px;
}
.homebuttom .sp {
	display: none;
}
.footer {
	text-align: center;
}
.news {
	width: 100%;
}
.message {
	color: #000000;
	background-color: #eef3aa;
}
.textArea {
	color: #000000;
	background-color: #d2e0d2;
	padding: 5px 5px 20px 5px;
}
.headWrap {
	text-align: center;
}
.importantRedFont {
	color: #ff2222;
	font-weight: bold;
}
.importantBlueFont {
	color: #2222ff;
	font-weight: bold;
}
/* local */
a:link.button {
	color: var(--colorBase);
}

a:visited.button {
	color: var(--colorVisited);
}

a:hover.button {
	color: var(--colorHover);
}

a:active.button {
	color: var(--colorActive);
}

.menu {
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}

.menu div {
	margin: 5px;
}

.newsIframe {
	padding: 5px;
	color: #000000;
	background-color: #f0fff0;
}

.newsIframe ul {
	margin: 15px 0 ;
}

.newsIframe li {
	margin: 0 30px ;
	list-style-type: square;
}

.newsIframe h3 {
	color: #ffffff;
	background-color: #666969;
	font-size: 20px;
}

.headWrap h1 {
	padding: 5px 0 15px 0;
	border-bottom: solid 5px #ffffff;
}

.codeView {
	margin-left: 10px;
	width: 740px;
	color: #c3ffcd;
	background-color: #3f3f3f;
}

@media screen and (max-width: 810px){
	.menu {
		flex-direction: column;
	}
	.button {
		margin: auto;
		width: 96%;
		height: 250px;
		font-size: 100px;
	} 
	.homebuttom {
		position: sticky;
		bottom: 0%;
		background-color: #9f98fb;
	}
	.homebuttom .pc {
		display: none;
	}
	.homebuttom .sp {
		display: flex;
		height: 100px;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		border: solid 20px #a09494;
	}
	.homebuttom .sp p {
		font-size: 80px;
		color: #fdffe7;
		
	}
}
@media screen and (min-width: 810px){
	.homebuttom .sp {
		display: none;
	}
}